@import 'http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* apply a natural box layout model to all elements */
.box-size {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
* {
  box-sizing: border-box;
}
.container {
  position: relative;
  max-width: 1080px;
  width: 90%;
  margin: 0 auto;
  padding: 0 20px;
}
.fullContainer {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.row {
  width: 100%;
  clear: both;
  position: relative;
}
.row > *:first-child {
  margin-left: 0 !important;
}
.container:after,
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 1080px) {
  .container {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.margin-bottom-0 {
  margin-bottom: 0px !important;
}
.margin-bottom-10 {
  margin-bottom: 10px !important;
}
.margin-bottom-20 {
  margin-bottom: 20px !important;
}
.margin-bottom-30 {
  margin-bottom: 30px !important;
}
.margin-bottom-40 {
  margin-bottom: 40px !important;
}
.margin-bottom-50 {
  margin-bottom: 50px !important;
}
.margin-bottom-60 {
  margin-bottom: 60px !important;
}
.margin-bottom-70 {
  margin-bottom: 70px !important;
}
.margin-bottom-80 {
  margin-bottom: 80px !important;
}
.margin-bottom-90 {
  margin-bottom: 90px !important;
}
.margin-bottom-100 {
  margin-bottom: 100px !important;
}
.margin-bottom-110 {
  margin-bottom: 110px !important;
}
.margin-bottom-120 {
  margin-bottom: 120px !important;
}
.margin-bottom-130 {
  margin-bottom: 130px !important;
}
.margin-bottom-140 {
  margin-bottom: 140px !important;
}
.margin-bottom-150 {
  margin-bottom: 150px !important;
}
.margin-bottom-160 {
  margin-bottom: 160px !important;
}
.margin-bottom-170 {
  margin-bottom: 170px !important;
}
.margin-bottom-180 {
  margin-bottom: 180px !important;
}
.margin-bottom-190 {
  margin-bottom: 190px !important;
}
.margin-bottom-200 {
  margin-bottom: 200px !important;
}
.margin-top-0 {
  margin-top: 0px !important;
}
.margin-top-10 {
  margin-top: 10px !important;
}
.margin-top-20 {
  margin-top: 20px !important;
}
.margin-top-30 {
  margin-top: 30px !important;
}
.margin-top-40 {
  margin-top: 40px !important;
}
.margin-top-50 {
  margin-top: 50px !important;
}
.margin-top-60 {
  margin-top: 60px !important;
}
.margin-top-70 {
  margin-top: 70px !important;
}
.margin-top-80 {
  margin-top: 80px !important;
}
.margin-top-90 {
  margin-top: 90px !important;
}
.margin-top-100 {
  margin-top: 100px !important;
}
.margin-top-110 {
  margin-top: 110px !important;
}
.margin-top-120 {
  margin-top: 120px !important;
}
.margin-top-130 {
  margin-top: 130px !important;
}
.margin-top-140 {
  margin-top: 140px !important;
}
.margin-top-150 {
  margin-top: 150px !important;
}
.margin-top-160 {
  margin-top: 160px !important;
}
.margin-top-170 {
  margin-top: 170px !important;
}
.margin-top-180 {
  margin-top: 180px !important;
}
.margin-top-190 {
  margin-top: 190px !important;
}
.margin-top-200 {
  margin-top: 200px !important;
}
.margin-left-0 {
  margin-left: 0px !important;
}
.margin-left-10 {
  margin-left: 10px !important;
}
.margin-left-20 {
  margin-left: 20px !important;
}
.margin-left-30 {
  margin-left: 30px !important;
}
.margin-left-40 {
  margin-left: 40px !important;
}
.margin-left-50 {
  margin-left: 50px !important;
}
.margin-left-60 {
  margin-left: 60px !important;
}
.margin-left-70 {
  margin-left: 70px !important;
}
.margin-left-80 {
  margin-left: 80px !important;
}
.margin-left-90 {
  margin-left: 90px !important;
}
.margin-left-100 {
  margin-left: 100px !important;
}
.margin-left-110 {
  margin-left: 110px !important;
}
.margin-left-120 {
  margin-left: 120px !important;
}
.margin-left-130 {
  margin-left: 130px !important;
}
.margin-left-140 {
  margin-left: 140px !important;
}
.margin-left-150 {
  margin-left: 150px !important;
}
.margin-left-160 {
  margin-left: 160px !important;
}
.margin-left-170 {
  margin-left: 170px !important;
}
.margin-left-180 {
  margin-left: 180px !important;
}
.margin-left-190 {
  margin-left: 190px !important;
}
.margin-left-200 {
  margin-left: 200px !important;
}
.margin-right-0 {
  margin-right: 0px !important;
}
.margin-right-10 {
  margin-right: 10px !important;
}
.margin-right-20 {
  margin-right: 20px !important;
}
.margin-right-30 {
  margin-right: 30px !important;
}
.margin-right-40 {
  margin-right: 40px !important;
}
.margin-right-50 {
  margin-right: 50px !important;
}
.margin-right-60 {
  margin-right: 60px !important;
}
.margin-right-70 {
  margin-right: 70px !important;
}
.margin-right-80 {
  margin-right: 80px !important;
}
.margin-right-90 {
  margin-right: 90px !important;
}
.margin-right-100 {
  margin-right: 100px !important;
}
.margin-right-110 {
  margin-right: 110px !important;
}
.margin-right-120 {
  margin-right: 120px !important;
}
.margin-right-130 {
  margin-right: 130px !important;
}
.margin-right-140 {
  margin-right: 140px !important;
}
.margin-right-150 {
  margin-right: 150px !important;
}
.margin-right-160 {
  margin-right: 160px !important;
}
.margin-right-170 {
  margin-right: 170px !important;
}
.margin-right-180 {
  margin-right: 180px !important;
}
.margin-right-190 {
  margin-right: 190px !important;
}
.margin-right-200 {
  margin-right: 200px !important;
}
.padding-bottom-0 {
  padding-bottom: 0px !important;
}
.padding-bottom-10 {
  padding-bottom: 10px !important;
}
.padding-bottom-20 {
  padding-bottom: 20px !important;
}
.padding-bottom-30 {
  padding-bottom: 30px !important;
}
.padding-bottom-40 {
  padding-bottom: 40px !important;
}
.padding-bottom-50 {
  padding-bottom: 50px !important;
}
.padding-bottom-60 {
  padding-bottom: 60px !important;
}
.padding-bottom-70 {
  padding-bottom: 70px !important;
}
.padding-bottom-80 {
  padding-bottom: 80px !important;
}
.padding-bottom-90 {
  padding-bottom: 90px !important;
}
.padding-bottom-100 {
  padding-bottom: 100px !important;
}
.padding-bottom-110 {
  padding-bottom: 110px !important;
}
.padding-bottom-120 {
  padding-bottom: 120px !important;
}
.padding-bottom-130 {
  padding-bottom: 130px !important;
}
.padding-bottom-140 {
  padding-bottom: 140px !important;
}
.padding-bottom-150 {
  padding-bottom: 150px !important;
}
.padding-bottom-160 {
  padding-bottom: 160px !important;
}
.padding-bottom-170 {
  padding-bottom: 170px !important;
}
.padding-bottom-180 {
  padding-bottom: 180px !important;
}
.padding-bottom-190 {
  padding-bottom: 190px !important;
}
.padding-bottom-200 {
  padding-bottom: 200px !important;
}
.padding-top-0 {
  padding-top: 0px !important;
}
.padding-top-10 {
  padding-top: 10px !important;
}
.padding-top-20 {
  padding-top: 20px !important;
}
.padding-top-30 {
  padding-top: 30px !important;
}
.padding-top-40 {
  padding-top: 40px !important;
}
.padding-top-50 {
  padding-top: 50px !important;
}
.padding-top-60 {
  padding-top: 60px !important;
}
.padding-top-70 {
  padding-top: 70px !important;
}
.padding-top-80 {
  padding-top: 80px !important;
}
.padding-top-90 {
  padding-top: 90px !important;
}
.padding-top-100 {
  padding-top: 100px !important;
}
.padding-top-110 {
  padding-top: 110px !important;
}
.padding-top-120 {
  padding-top: 120px !important;
}
.padding-top-130 {
  padding-top: 130px !important;
}
.padding-top-140 {
  padding-top: 140px !important;
}
.padding-top-150 {
  padding-top: 150px !important;
}
.padding-top-160 {
  padding-top: 160px !important;
}
.padding-top-170 {
  padding-top: 170px !important;
}
.padding-top-180 {
  padding-top: 180px !important;
}
.padding-top-190 {
  padding-top: 190px !important;
}
.padding-top-200 {
  padding-top: 200px !important;
}
.padding-left-0 {
  padding-left: 0px !important;
}
.padding-left-10 {
  padding-left: 10px !important;
}
.padding-left-20 {
  padding-left: 20px !important;
}
.padding-left-30 {
  padding-left: 30px !important;
}
.padding-left-40 {
  padding-left: 40px !important;
}
.padding-left-50 {
  padding-left: 50px !important;
}
.padding-left-60 {
  padding-left: 60px !important;
}
.padding-left-70 {
  padding-left: 70px !important;
}
.padding-left-80 {
  padding-left: 80px !important;
}
.padding-left-90 {
  padding-left: 90px !important;
}
.padding-left-100 {
  padding-left: 100px !important;
}
.padding-left-110 {
  padding-left: 110px !important;
}
.padding-left-120 {
  padding-left: 120px !important;
}
.padding-left-130 {
  padding-left: 130px !important;
}
.padding-left-140 {
  padding-left: 140px !important;
}
.padding-left-150 {
  padding-left: 150px !important;
}
.padding-left-160 {
  padding-left: 160px !important;
}
.padding-left-170 {
  padding-left: 170px !important;
}
.padding-left-180 {
  padding-left: 180px !important;
}
.padding-left-190 {
  padding-left: 190px !important;
}
.padding-left-200 {
  padding-left: 200px !important;
}
.padding-right-0 {
  padding-right: 0px !important;
}
.padding-right-10 {
  padding-right: 10px !important;
}
.padding-right-20 {
  padding-right: 20px !important;
}
.padding-right-30 {
  padding-right: 30px !important;
}
.padding-right-40 {
  padding-right: 40px !important;
}
.padding-right-50 {
  padding-right: 50px !important;
}
.padding-right-60 {
  padding-right: 60px !important;
}
.padding-right-70 {
  padding-right: 70px !important;
}
.padding-right-80 {
  padding-right: 80px !important;
}
.padding-right-90 {
  padding-right: 90px !important;
}
.padding-right-100 {
  padding-right: 100px !important;
}
.padding-right-110 {
  padding-right: 110px !important;
}
.padding-right-120 {
  padding-right: 120px !important;
}
.padding-right-130 {
  padding-right: 130px !important;
}
.padding-right-140 {
  padding-right: 140px !important;
}
.padding-right-150 {
  padding-right: 150px !important;
}
.padding-right-160 {
  padding-right: 160px !important;
}
.padding-right-170 {
  padding-right: 170px !important;
}
.padding-right-180 {
  padding-right: 180px !important;
}
.padding-right-190 {
  padding-right: 190px !important;
}
.padding-right-200 {
  padding-right: 200px !important;
}
.openSans {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
p {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
}
p + p {
  margin-top: 20px;
}
sup,
sub {
  font-size: 50%;
  line-height: 0;
}
ul {
  list-style-type: none;
}
.list {
  list-style-position: outside;
  margin-left: 26px;
}
ul.list {
  list-style-type: disc;
}
strong {
  font-weight: 600;
}
em {
  font-style: oblique;
}
.floatLeft {
  float: left;
  margin-top: 25px;
  margin-right: 20px;
}
.floatLeft.push {
  margin-left: -80px;
}
.floatLeft + p {
  margin-top: 20px;
}
.floatRight {
  float: right;
  margin-top: 25px;
  margin-left: 20px;
}
.floatRight.push {
  margin-right: -80px;
}
.floatRight + p {
  margin-top: 20px;
}
.clear {
  clear: both;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #000;
}
header {
  width: 50px;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  z-index: 10;
  left: 0;
  background-color: #56565a;
}
header.open {
  width: 300px;
}
.menu {
  height: 100%;
}
.menu.open {
  width: 230px;
}
.menu li {
  height: 30px;
}
.burger {
  width: 25px;
  height: 40px;
  top: 50%;
  left: 10px;
  z-index: 2;
  position: absolute;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.burger svg {
  width: 100%;
}
.menu__logo {
  position: absolute;
  left: 10px;
  top: 20px;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.menu__logo svg #letters {
  visibility: hidden;
  opacity: 0;
}
.menu__logo h2 {
  color: white;
  margin-top: 6px;
  position: absolute;
  font-size: 12px;
  width: 140px;
  right: -72px;
  font-weight: 300;
}
.menu__logo h2 span {
  font-weight: 700;
}
.menu__nav {
  color: white;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.menu__nav ul {
  padding-left: 30px;
}
.menu__nav li {
  position: relative;
  line-height: 30px;
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -o-transform: translateX(20px);
  transform: translateX(20px);
  opacity: 0;
  visibility: hidden;
}
.menu__nav li span {
  height: 3px;
  width: 0;
  background-color: #fdb504;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.menu__nav li a {
  text-decoration: none;
  color: white;
}
.menu__nav li a:hover {
  color: #fdb504;
}
.navLine {
  position: absolute;
}
.website {
  width: 100%;
  height: 110px;
  position: absolute;
  bottom: 0;
  text-align: center;
  opacity: 0;
  visibility: hidden;
}
.website a {
  text-decoration: none;
  color: #fdb504;
  position: absolute;
  font-weight: 300;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}
.menuOverlay {
  width: 100vw;
  height: 100vh;
  opacity: 0;
  display: none;
  visibility: hidden;
  background-color: #e3e5e4;
  position: fixed;
  z-index: 9;
}
.menuOverlay svg {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: .155;
}
.main {
  height: 100vh;
  width: calc(100vw - 50px);
  margin-left: 50px;
  z-index: 1;
}
.main__col {
  width: 50%;
  margin-left: 0;
  box-sizing: border-box;
  float: left;
  height: 100vh;
}
@media screen and (max-width: 1080px) {
  .main__col {
    width: 100%;
    float: none;
    margin-left: 0;
  }
}
.main__col .box__title {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  font-weight: 300;
  line-height: 38px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.main__col .box__title span {
  color: #56565a;
  font-size: 25px;
  position: relative;
  margin-left: 28px;
}
.main__col .box__title span:before {
  content: url('../_img/home/arrow.svg');
  position: absolute;
  left: -27px;
  top: -3px;
  width: 30px;
  height: 30px;
}
.main__col .box {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 0;
  opacity: 0;
  overflow: hidden;
}
.main__col .box--1 {
  height: 30vh;
  padding: 30px;
  position: relative;
  background-color: #fdb504;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
}
.main__col .box--2 {
  height: 70vh;
  background-image: url('../_img/home/image1.jpg');
  border-top: 3px solid white;
  border-right: 3px solid white;
}
.main__col .box--3 {
  height: 50vh;
  background-image: url('../_img/home/image2.jpg');
  border-bottom: 3px solid white;
  border-left: 3px solid white;
}
.main__col .box--4 {
  width: 0;
  float: left;
  height: 50vh;
  background-image: url('../_img/home/image3.jpg');
  border-top: 3px solid white;
  border-left: 3px solid white;
  border-right: 3px solid white;
}
.main__col .box--5 {
  width: 0;
  float: left;
  height: 50vh;
  background-image: url('../_img/home/image4.jpg');
  border-top: 3px solid white;
  border-left: 3px solid white;
}
.main__col .boxSection {
  height: 50vh;
  width: 100%;
}
.homeLine {
  position: absolute;
  top: 25vh;
  left: 0;
  height: 70vh;
  overflow: hidden;
  width: 100vw;
  z-index: 2;
}
.homeLine svg {
  width: auto%;
  height: 100%;
}
.homeLine__one {
  width: 55%;
  height: 3px;
  border-top: 2px dashed white;
  position: absolute;
  left: 0;
  top: 0;
}
.homeLine__two {
  width: 100%;
  height: 100%;
  border-left: 2px dashed white;
  border-bottom: 2px dashed white;
  position: absolute;
  left: 55%;
}
.boxThird {
  height: 33.33vh;
  min-height: 200px;
  width: 100%;
  padding: 30px;
  position: relative;
  opacity: 0;
}
.boxThird--1 {
  padding: 30px;
  position: relative;
  background-image: url('../_img/strategic-priorities/titleLine.svg');
  background-position: 30% center;
  background-repeat: no-repeat;
}
.boxThird--1 h1 {
  font-size: 55px;
  font-weight: 300;
  color: #56565a;
  position: absolute;
  top: 55%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.boxThird--2 {
  color: #56565a;
  background-color: #fdb504;
}
.boxThird--2 h2:after {
  background-color: #56565a;
}
.boxThird--3 {
  color: white;
  background-color: #b7b7b7;
}
.boxThird--3 h2:after {
  background-color: white;
}
.boxThird--4 {
  color: white;
  background-color: #9a989a;
}
.boxThird--4 h2:after {
  background-color: white;
}
.boxThird--5 {
  color: #56565a;
  background-color: #dfe0de;
}
.boxThird--5 h2:after {
  background-color: #56565a;
}
.boxThird--6 {
  color: #fdb504;
  background-color: #56565a;
}
.boxThird--6 h2:after {
  background-color: #fdb504;
}
.boxThird--6 .boxThird__content ul {
  top: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.boxThird .contentWrap {
  width: 100%;
  max-width: 540px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}
.boxThird__title {
  width: 100%;
  text-align: center;
}
.boxThird__title h2 {
  font-size: 19px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 42px;
  position: relative;
}
.boxThird__title h2:after {
  content: '';
  height: 3px;
  width: 80px;
  position: absolute;
  bottom: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.boxThird__content {
  width: 66.66666667%;
  margin-left: 0;
  box-sizing: border-box;
  float: left;
}
@media screen and (max-width: 1080px) {
  .boxThird__content {
    width: 100%;
    float: none;
    margin-left: 0;
  }
}
.boxThird__content ul {
  list-style-type: disc;
}
.boxThird__content li {
  margin-left: 17px;
  margin-bottom: 10px;
  font-weight: 300;
}
.boxThird__icon {
  width: 33.33333333%;
  margin-left: 0;
  box-sizing: border-box;
  float: left;
  float: right;
  text-align: center;
}
@media screen and (max-width: 1080px) {
  .boxThird__icon {
    width: 100%;
    float: none;
    margin-left: 0;
  }
}
.boxThird__icon svg {
  height: 100%;
}
.boxThird__icon--magnifier {
  height: 100px;
}
.boxThird__icon--magnifier svg {
  width: 88px;
}
.boxThird__icon--hands {
  height: 100px;
}
.boxThird__icon--hands svg {
  width: 88px;
}
.boxThird__icon--charts {
  height: 100px;
}
.boxThird__icon--charts svg {
  width: 88px;
}
.boxThird__icon--arrows {
  height: 100px;
}
.boxThird__icon--arrows svg {
  width: 88px;
}
.boxThird__icon--money {
  height: 100px;
}
.boxThird__icon--money svg {
  width: 88px;
}
.main--letter .header {
  padding-top: 70px;
  position: relative;
  margin-bottom: 90px;
}
.main--letter .header h1 {
  font-size: 55px;
  font-weight: 300;
  color: #56565a;
}
.main--letter .lineHeader svg {
  position: absolute;
  right: 50px;
  top: -210px;
}
.main--letter .headerImg--1 {
  width: 115%;
  margin-left: -75px;
  cursor: pointer;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}
.main--letter .headerImg--1:hover {
  opacity: .8;
}
.main--letter .headerImg--2 {
  float: right;
  margin-top: -50px;
  margin-right: -20px;
  z-index: 3;
  position: relative;
}
.main--letter section + section {
  margin-bottom: 50px;
}
.main--letter .fullSection {
  width: 100%;
  padding: 50px 0;
}
.main--letter .fullSection--1 {
  background-color: #f7f7f7;
  margin-bottom: 50px;
}
.main--letter .fullSection--2 {
  background-color: #e3e5e4;
  margin: 50px 0;
}
.main--letter .section__half {
  width: 49%;
  margin-left: 2%;
  box-sizing: border-box;
  float: left;
}
@media screen and (max-width: 1080px) {
  .main--letter .section__half {
    width: 100%;
    float: none;
    margin-left: 0;
  }
}
.main--letter .content {
  width: 91.58333333%;
  margin-left: 1%;
  box-sizing: border-box;
  float: left;
  padding-left: 8.41666667%;
}
@media screen and (max-width: 1080px) {
  .main--letter .content {
    width: 100%;
    float: none;
    margin-left: 0;
  }
}
@media screen and (max-width: 1080px) {
  .main--letter .content {
    padding-left: 0;
  }
}
.main--letter .title {
  margin-top: 50px;
}
.main--letter .title h2 {
  color: #3f853e;
}
.main--letter .title span {
  color: #56565a;
}
.main--letter .intro {
  float: right;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.main--letter .lineElement {
  width: auto;
  position: absolute;
  right: 0;
  margin-top: -240px;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.main--letter .blockWrap {
  margin: 50px 0;
}
.main--letter .block {
  padding: 20px;
  opacity: 0;
  width: 49%;
  margin-left: 2%;
  box-sizing: border-box;
  float: left;
}
@media screen and (max-width: 1080px) {
  .main--letter .block {
    width: 100%;
    float: none;
    margin-left: 0;
  }
}
.main--letter .block img {
  width: 100%;
}
.main--letter .block--1 {
  background-color: #9a989a;
  margin-bottom: 20px;
}
.main--letter .block--2 {
  background-color: #fdb504;
  margin-bottom: 20px;
}
.main--letter .block--3 {
  background-color: #b7b7b7;
}
.main--letter .block--4 {
  background-color: #56565a;
}
.main--letter .productsImg {
  opacity: 0;
}
.videoOverlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(227, 229, 228, 0.95);
  position: fixed;
  z-index: 15;
  display: none;
  opacity: 0;
  visibility: hidden;
}
.videoOverlay__container {
  width: 710px;
  text-align: center;
  position: relative;
  top: 45%;
  left: 50%;
  -webkit-transform: translateY(-45%) translateX(-50%);
  -moz-transform: translateY(-45%) translateX(-50%);
  -ms-transform: translateY(-45%) translateX(-50%);
  -o-transform: translateY(-45%) translateX(-50%);
  transform: translateY(-45%) translateX(-50%);
}
.videoOverlay .videoClose {
  width: 24px;
  right: -28px;
  top: -34px;
  position: absolute;
  cursor: pointer;
}
.videoOverlay .videoClose svg {
  width: 100%;
}
.videoOverlay img {
  width: 710px;
}
/*.mobile {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: @white;
	z-index: 99999;
	position: fixed;
	display: none;
	text-align: center;
	
	a { text-decoration: none; }
}

.mobile__logo {
	background-color: @black;
	width: 100%;
	padding: 20px 20%;
	margin-bottom: 30px;

	img { width: 100%; }
}

.mobile__cover { width: 80%; border: 1px solid #ccc; }

.mobile__download {
	width: 80%;
	padding: 5%;
	display: block;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	background-color: @black;
	color: @white;
	font-size: 5vw;
	cursor: pointer;
}*/
/*# sourceMappingURL=main.css.map */