@import '_reset.less';
@import '_grid.less';
@import '_mixins.less';
@import 'http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';


// Global Mixin Calls (Margin, Padding, etc)

.generateMargin(20,bottom); // margin-bottom-(num)
.generateMargin(20,top);    // margin-top-(num)
.generateMargin(20,left);   // margin-left-(num)
.generateMargin(20,right);  // margin-right-(num)

.generatePadding(20,bottom); // padding-bottom-(num)
.generatePadding(20,top);    // padding-top-(num)
.generatePadding(20,left);   // padding-left-(num)
.generatePadding(20,right);  // padding-right-(num)


// Color Declaration

@black: #000;
@white: #fff;


// Company Colors

@primary: #56565a;
@secondary: #fdb504;
@offWhite: #e3e5e4;

// Font Families
.openSans { font-family: 'Open Sans', sans-serif; font-weight: 400; }


//Font Size/Weight Declarations

h1,
h2,
h3,
h4,
h5,
p {
	font-size: 14px;
	line-height: 1.2;
	font-weight: 400;
}

p + p { margin-top: 20px; }

sup,
sub { font-size: 50%; line-height: 0; }

ul { list-style-type: none; }

.list { list-style-position: outside; margin-left: 26px; }

ul.list { list-style-type: disc; }

a { }

strong { font-weight: 600; }

em { font-style: oblique; }

.heading { }

.subHeading { }


// Generic Reusable Styles

.floatLeft {
	float: left;
	margin-top: 25px;
	margin-right: 20px;

	&.push { margin-left: -80px; }

	+ p { margin-top: 20px; }
}

.floatRight {
	float: right;
	margin-top: 25px;
	margin-left: 20px;

	&.push { margin-right: -80px; }

	+ p { margin-top: 20px; }
}

.clear { clear: both; }


//Generic Global Styles

body {
	.openSans();
	font-size: 14px;
	line-height: 1.2;
	font-weight: 400;
	color: @black;
}


// Header + Navigation

header { 
	width: 50px;
	height: 100vh;
	position: fixed;
	overflow: hidden;
	z-index: 10;
	left: 0;
	background-color: @primary;

	&.open { width: 300px; }
}

.menu {
	height: 100%;

	&.open { width: 230px; }

	li { height: 30px; }
}

.burger {
	width: 25px;
	height: 40px;
	top: 50%;
	left: 10px;
	z-index: 2;
	position: absolute;
	cursor: pointer;
	.transform(translateY(-50%));

	svg { width: 100%; }
}

.menu__logo {
	position: absolute;
    left: 10px;
    top: 20px;
	.transform(translateX(0));

	svg #letters {
		visibility: hidden;
		opacity: 0;
	}

	h2 { 
		color: white;
		margin-top: 6px;
		position: absolute;
		font-size: 12px;
		width: 140px;
		right: -72px;
		font-weight: 300;
	}

	h2 span {
		font-weight: 700;
	}
}

.menu__nav {
	color: white;
	position: relative;
	top: 50%;
	.transform(translateY(-50%));

	ul { padding-left: 30px; }

	li {
		position: relative;
		line-height: 30px;
		font-size: 10px;
		letter-spacing: 2px; 
		text-transform: uppercase;
		cursor: pointer;
		.transform(translateX(20px));
		opacity: 0;
		visibility: hidden;
	}

	li span {
		height: 3px;
		width: 0;
		background-color: @secondary;
		position: absolute;
		right: 0;
		top: 50%;
		.transform(translateY(-50%));
	}

	li a { text-decoration: none; color: white; }

	li a:hover {
		color: @secondary;
	}
}

.navLine {
	position: absolute;
}

.website {
	width: 100%;
	height: 110px;
	position: absolute;
	bottom: 0;
	text-align: center;
	opacity: 0;
	visibility: hidden;

	a { 
		text-decoration: none;
		color: @secondary;
		position: absolute; 
		font-weight: 300;
		top: 50%;
		.transform(translateY(-50%) translateX(-50%));
	}
}

.menuOverlay {
	width: 100vw;
	height: 100vh;
	opacity: 0;
	display: none;
	visibility: hidden;
	background-color: @offWhite;
	position: fixed;
	z-index: 9;

	svg {
		position: absolute;
		right: 0;
		bottom: 0;
		opacity: .155;
	}
}



// Homepage Styles

.main {
	height: 100vh;
	width: calc(~'100vw - 50px');
	margin-left: 50px;
	z-index: 1;

	//&--home { overflow: hidden; }
}

.main__col {
	.columns(6, 0);
	height: 100vh;

	.box__title {
		color: white;
		font-size: 50px;
		position: absolute;
		top: 50%;
		font-weight: 300;
		line-height: 38px;
		.transform(translateY(-50%));

		span { 
			color:@primary; 
			font-size: 25px; 
			position: relative; 
			margin-left: 28px;
		}

		span:before {
			content: url('../_img/home/arrow.svg');
			position: absolute;
			left: -27px;
			top: -3px;
			width: 30px;
			height: 30px;
		}

	}

	@borderWidth: 3px;

	.box {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 0;
		opacity: 0;
		overflow: hidden;

		&--1 { 
			height: 30vh;
			padding: 30px;
			position: relative;
			background-color: @secondary;
			border-right: @borderWidth solid white;
			border-bottom: @borderWidth solid white;
		}
		&--2 { 
			height: 70vh;
			background-image: url('../_img/home/image1.jpg');
			border-top: @borderWidth solid white;
			border-right: @borderWidth solid white;
		}
		&--3 {
			height: 50vh;
			background-image: url('../_img/home/image2.jpg');
			border-bottom: @borderWidth solid white;
			border-left: @borderWidth solid white;
		}
		&--4 {
			width: 0;
			float: left;
			height: 50vh;
			background-image: url('../_img/home/image3.jpg');
			border-top: @borderWidth solid white;
			border-left: @borderWidth solid white;
			border-right: @borderWidth solid white;
		}
		&--5 {
			width: 0;
			float: left;
			height: 50vh;
			background-image: url('../_img/home/image4.jpg');
			border-top: @borderWidth solid white;
			border-left: @borderWidth solid white;
		}
	}

	.boxSection {
		height: 50vh;
		width: 100%;
	}

}

.homeLine {
	position: absolute;
	top: 25vh;
	left: 0;
	height: 70vh;
	overflow: hidden;
    width: 100vw;
	z-index: 2;
	//.transform(translateY(-50%));

	svg { width: auto%; height: 100%; }
}

.homeLine__one {
	width: 55%;
    height: 3px;
    border-top: 2px dashed white;
    position: absolute;
    left: 0;
	top: 0;
}

.homeLine__two {
	width: 100%;
    height: 100%;
    border-left: 2px dashed white;
    border-bottom: 2px dashed white;
    position: absolute;
    left: 55%;
}

// strategic-priorities.php

.boxThird {
	height: 33.33vh;
	min-height: 200px;
	width: 100%;
	padding: 30px;
	position: relative;
	opacity: 0;

	&--1 {
		padding: 30px;
		position: relative;
		background-image: url('../_img/strategic-priorities/titleLine.svg');
		background-position: 30% center;
		background-repeat: no-repeat;

		h1 { 
			font-size: 55px; 
			font-weight: 300; 
			color: @primary;
			position: absolute; 
			top: 55%;
			.transform(translateY(-50%));
		}
	}

	&--2 {
		color: @primary;
		background-color: @secondary;

		h2:after { background-color: @primary; }
	}

	&--3 {
		color: white;
		background-color: #b7b7b7;

		h2:after { background-color: white; }
	}

	&--4 {
		color: white;
		background-color: #9a989a;

		h2:after { background-color: white; }
	}

	&--5 {
		color: @primary;
		background-color: #dfe0de;

		h2:after { background-color: @primary; }
	}

	&--6 {
		color: @secondary;
		background-color: #56565a;

		h2:after { background-color: @secondary; }

		.boxThird__content ul {
			top: 50%;
			position: absolute;
			.transform(translateY(-50%));
		}
	}

	.contentWrap {
		width: 100%;
		max-width: 540px;
		position: relative;
		top: 50%;
		left: 50%;
		.transform(translateY(-50%) translateX(-50%));
	}
}

.boxThird__title {
	width: 100%;
	text-align: center;

	h2 {
		font-size: 19px;
		font-weight: 300;
		text-transform: uppercase;
		margin-bottom: 42px;
		position: relative;
	}

	h2:after {
		content: '';
		height: 3px;
		width: 80px;
		position: absolute;
		bottom: -15px;
		left: 50%;
		.transform(translateX(-50%));
	}
}

.boxThird__content {
	.columns(8, 0);

	ul { list-style-type: disc; }

	li {
		margin-left: 17px;
		margin-bottom: 10px;
		font-weight: 300;
	}
}

.boxThird__icon {
	.columns(4, 0);
	float: right;
	text-align: center;

	svg { height: 100%; }

	&--magnifier { 
		height: 100px; 
		
		svg { width: 88px; }
	}

	&--hands { 
		height: 100px; 
		
		svg { width: 88px; }
	}
	
	&--charts { 
		height: 100px; 
		
		svg { width: 88px; }
	}
	
	&--arrows { 
		height: 100px; 
		
		svg { width: 88px; }
	}

	&--money { 
		height: 100px; 
		
		svg { width: 88px; }
	}
}


// letter.php

.main--letter {
	.header {
		padding-top: 70px; 
		position: relative;
		margin-bottom: 90px;
	}

	.header h1 { 
		font-size: 55px; 
		font-weight: 300; 
		color: @primary;
	}

	.lineHeader svg { 
		position: absolute;
    	right: 50px;
    	top: -210px; 
	}

	.headerImg {
		&--1 { 
			width: 115%;
			margin-left: -75px; 
			cursor: pointer;
			.transition(opacity .25s ease);
		}

		&--1:hover { opacity: .8; }

		&--2 {
			float: right;
			margin-top: -50px;
			margin-right: -20px;
			z-index: 3;
			position: relative;
		}
	}

	section + section { margin-bottom: 50px; }

	.fullSection {
		width: 100%;
		padding: 50px 0;

		&--1 { background-color: #f7f7f7; margin-bottom: 50px; }
		&--2 { background-color: #e3e5e4; margin: 50px 0; }
	}

	.section__half {
		.columns(6,2%);
	}

	.content {
		.columns(11);
		.offset(1);
	}

	.title {
		margin-top: 50px;

		h2 { color: #3f853e; }
		span { color: @primary; }
	}

	.intro { float: right; .transform(translateY(0)); }

	.lineElement {
		width: auto;
    	position: absolute;
    	right: 0;
    	margin-top: -240px;
		.transform(translateX(100%));
	}

	.blockWrap { margin: 50px 0; }

	.block {
		padding: 20px;
		opacity: 0;
		.columns(6, 2%);

		img { width: 100%; }

		&--1 {
			background-color: #9a989a;
			margin-bottom: 20px;
		}

		&--2 {
			background-color: #fdb504;
			margin-bottom: 20px;
		}
		
		&--3 {
			background-color: #b7b7b7;
		}

		&--4 {
			background-color: #56565a;
		}
	}

	.productsImg { opacity: 0; }
}

.videoOverlay {
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(227,229,228, .95);
	position: fixed;
	z-index: 15;
	display: none;
	opacity: 0;
	visibility: hidden;

	&__container {
		width: 710px;
		text-align: center;
		position: relative;
		top: 45%;
		left: 50%;
		.transform(translateY(-45%) translateX(-50%));
	}

	.videoClose{
		width: 24px;
		right: -28px;
		top: -34px;
		position: absolute;
		cursor: pointer;

		svg { width: 100%; }
	}

	img { width: 710px; }
}


// Generic Media Queries



// Mobile PDF Download

/*.mobile {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: @white;
	z-index: 99999;
	position: fixed;
	display: none;
	text-align: center;
	
	a { text-decoration: none; }
}

.mobile__logo {
	background-color: @black;
	width: 100%;
	padding: 20px 20%;
	margin-bottom: 30px;

	img { width: 100%; }
}

.mobile__cover { width: 80%; border: 1px solid #ccc; }

.mobile__download {
	width: 80%;
	padding: 5%;
	display: block;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	background-color: @black;
	color: @white;
	font-size: 5vw;
	cursor: pointer;
}*/